body{
    background: #f8f8f8;
}
.floor1{
    width: 100vw;
    height: .8rem;
    background-color: white;
    padding: 0 .2rem;
}
.floor1>img{
    width: 4.76rem;
}
.floor1>i{
    color: #ccc;
}
.floor2{
    height: 2.24rem;
    background-color: #469dff;
    padding: 0 .2rem;
}
.floor2-box{
    height: .9rem;
    width: .9rem;
    border-radius: 50%;
    background-color: white;
    margin-right: .2rem;
}
.icon-unie611{
    color: #469dff;
    display: block;
}

.floor2-box2-p{
    font-size: .32rem;
    color: white;
}
.floor2-box2-p2{
    font-size: .26rem;
    color: white;
}
.floor2>.icon-you{
    color: white;
}


.icon-icon--{
    color: #58a0d0;
}

.floor3{
    margin-top: .16rem;
}



.floor3>div>div>span{
    font-size: .28rem;
    color: #353535;
}
.floor3>div>div>i{
    margin-right: .2rem;
}



.floor3>div{
    padding: 0 .2rem;
    line-height: .98rem;
    border: 1px solid #ececec;
    background: white;
}
.icon-you{
    color: #ccc;
}

.icon-wenjian{
    color: #ff9920;
}


.icon-huiyuanlibao{
    color: #0099cc;

}
.icon-icon--1{
    color:#88c846;
}
.icon-shezhi{
    color: #768393;
}
.icon-gouwuche{
    color: #88c846;
}
